.back-button {
  border-radius: 8px !important;
  border: none !important;
  background: #255E87;
  color: #FFF !important;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  float: right;
  cursor: pointer;
}