
header {
  padding: 10px 20px;
  background: #dfdfdfce !important;
  color: #444;
}

body {
  padding: 0 20px;
  background: #dfdfdfce !important;
}
.home-container {
  padding: 20px;
}
.container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0px;
  max-width: 100% !important;
}

.header {
  align-items: center;
}
.header-div {
  border-radius: 10px 10px 0px 0px;
  background: #3A4EF5;
  padding: 0px 30px;
  color: #FFF;
}
.movie-details-content {
  padding: 20px;
}
.back-button {
  border-radius: 8px !important;
  border: none !important;
  background: #3A4EF5;
  color: #FFF !important;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  float: right;
  cursor: pointer;
}