<h2 mat-dialog-title>Añadir nueva película</h2>

<mat-dialog-content>
  <p>Rellena el formulario para crear una nueva película</p>
  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()" class="movie-form">

    <!-- Título form field -->
    <mat-form-field appearance="outline" class="full-width form-field form-field">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" aria-required="true" required aria-label="Título">
    </mat-form-field>
    <!-- Título form invalid error messages -->
    <div *ngIf="movieForm.get('title')?.touched && movieForm.get('title')?.invalid" class="error-message">
        <small *ngIf="movieForm.get('title')?.errors?.['required']">El Título es obligatorio.</small>
        <small *ngIf="movieForm.get('title')?.errors?.['pattern']">Formato de título no válido.</small>
    </div>
    <!-- El/la Director/a form field -->
    <mat-form-field appearance="outline" class="full-width form-field">
        <mat-label>Director/a</mat-label>
        <input matInput formControlName="direction" aria-required="true" required aria-label="Director/a">
    </mat-form-field>
    <!--  El/la Director/a form invalid error messages -->
    <div *ngIf="movieForm.get('direction')?.touched && movieForm.get('direction')?.invalid" class="error-message">
        <small *ngIf="movieForm.get('direction')?.errors?.['required']">El/la Director/a es obligatorio/a.</small>
        <small *ngIf="movieForm.get('direction')?.errors?.['pattern']">Solo se permiten letras y espacios.</small>
    </div>
    <!-- Año form field -->
    <mat-form-field appearance="outline" class="full-width form-field">
        <mat-label>Año</mat-label>
        <input matInput type="number" formControlName="year" aria-required="true" required aria-label="Año">
    </mat-form-field>
    <!-- Año form invalid error messages -->
    <div *ngIf="movieForm.get('year')?.touched && movieForm.get('year')?.invalid" class="error-message">
        <small *ngIf="movieForm.get('year')?.errors?.['required']">El año es obligatorio.</small>
        <small *ngIf="movieForm.get('year')?.errors?.['min']">El año no puede ser anterior a 1888.</small>
        <small *ngIf="movieForm.get('year')?.errors?.['max']">El año no puede ser posterior al actual.</small>
    </div>
    <!-- Géneros form field -->
    <mat-form-field appearance="outline" class="full-width form-field">
        <mat-label>Géneros</mat-label>
        <mat-select formControlName="genre" multiple>
        <mat-option *ngFor="let g of genres" [value]="g">{{ g }}</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- Géneros form invalid error messages -->
    <div *ngIf="movieForm.get('genre')?.touched && movieForm.get('genre')?.invalid" class="error-message">
        <small *ngIf="movieForm.get('genre')?.errors?.['required']">Debes seleccionar al menos un género.</small>
    </div>
    <!-- País form field -->
    <mat-form-field appearance="outline" class="full-width form-field">
        <mat-label>País</mat-label>
        <input matInput formControlName="country" aria-required="true" required aria-label="Pais">
    </mat-form-field>
    <!-- País form invalid error messages -->
    <div *ngIf="movieForm.get('country')?.touched && movieForm.get('country')?.invalid" class="error-message">
        <small *ngIf="movieForm.get('country')?.errors?.['required']">El país es obligatorio.</small>
        <small *ngIf="movieForm.get('country')?.errors?.['pattern']">Solo se permiten letras y espacios.</small>
    </div>
    <!-- Duración form field -->
    <mat-form-field appearance="outline" class="full-width form-field">
        <mat-label>Duración (minutos)</mat-label>
        <input matInput type="number" formControlName="duration" aria-required="true" aria-label="Duración en minutos" required>
    </mat-form-field>
    <!-- Duración form invalid error messages -->
    <div *ngIf="movieForm.get('duration')?.touched && movieForm.get('duration')?.invalid" class="error-message">
        <small *ngIf="movieForm.get('duration')?.errors?.['required']">La duración es obligatoria.</small>
        <small *ngIf="movieForm.get('duration')?.errors?.['min']">La duración debe ser mayor que 0.</small>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
 
    <!-- Cancel button -->
    <button mat-button class="cancel-button" (click)="cancelButton()">Cancelar</button>
    <!-- Create button -->
    <button mat-button class="create-button" type="submit" cdkFocusInitial
    [class.disabled]="movieForm.invalid"
    (click)="checkFormValidity(); onSubmit()">
        Crear </button>
</mat-dialog-actions>


