.modal-content {
    width: 100%;
    padding: 40px 0px;
}

.movie-form-container {
    min-width: 400px;
    margin-bottom: 20px;
    padding: 0px 30px;
    margin-bottom: 20px;
}

.movie-form {
    display: flex;
    flex-direction: column;
}
.form-field {
    margin-top: 20px;
}
.error-message {
    color: var(--mdc-outlined-text-field-error-hover-label-text-color, var(--mat-sys-on-error-container));
    margin-top: -15px;
}


// Buttons styles
.create-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    min-width: 100px !important;
}
.create-button {
    color: #FFF !important;
    background:  #3A4EF5 !important;
}
button.disabled {
  background-color:#b0b0b0 !important;
  cursor: not-allowed;
}

.cancel-button {
    color: #FFF !important;
    background: #52585D !important;
}