.home-container {
    // width: 100%;
    padding: 20px;
    // border-radius: 5px;
    // background: #FFF;
    // background: #FFF;
    // margin-top: 20px;
}
.search-engine, .new-movie {
  width: 50%;
  padding: 20px 0px;
}
.new-movie {
  float: right;
}
.search-input {
    color: #99ABB4;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    border: 1px solid var(--grey-colors-border, #DBE1E6);
  }
  
.search-input::placeholder {
    color: #99ABB4;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.search-icon {
    color: #99ABB4;
}
.search-field {
    width: 512px;
    border-radius: 6px;
    background: #FFF;

}
// ::ng-deep mat-form-field {
//     height: 35px;
//   }
  
// ::ng-deep mat-form-field .mat-mdc-text-field-wrapper {
//   height: 35px;
//   display: flex;
//   align-items: center;
// }

// ::ng-deep mat-form-field input {
//   height: 35px;
// }
// // Change the color of the placeholder text
// ::ng-deep .custom-search-field input::placeholder {
//   color: #99ABB4 !important;
//   opacity: 1;
// }

.movie-button {
  border-radius: 8px !important;
  background: #255E87;
  color: #FFF !important;
  padding: 0 16px;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  float: right;
}