<header>
  <h1 class="home-title">Películas</h1>
</header>
<body>
  <mat-card class="container">

      <!-- Card Header -->
      <div class="header-div">
        <h4>Tabla Películas</h4>
      </div>

      <!-- Card Content -->
      <mat-card-content>
        <div class="home-container">
          <div class="filter-container">
            <!-- Search Engine -->
            <mat-form-field appearance="outline" class="search-field custom-search-field search-engine">
                <!-- Search icon -->
                <mat-icon matPrefix class="search-icon">search</mat-icon>
                <!-- Input field -->
                <input matInput (keyup)="applyFilter($event)" type="text" class="search-input" placeholder="Buscar por Título"/>
            </mat-form-field>
            <!-- New movie -->
            <div class="new-movie">
              <!-- New movie button -->
              <button mat-button class="movie-button" aria-label="Nueva Película"
              (click)="newMovie()"
              > 
              <mat-icon >add</mat-icon>
              Nueva Película </button>
            </div>
          </div>
          <div class="table-container">
            <!-- Table component -->
            <app-table [data]=moviesData></app-table>
          </div>
        </div>
      </mat-card-content>
  </mat-card>
  <div class="name-author">
    Desarrollado por Itziar Alonso Marco
  </div>
   
</body>
